{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <span class="breadcrumb"><a href="#">Home</a> / Login</span>
          <h3>Login</h3>
        </div>
      </div>
    </div>
  </div>



<div class="contact-page section">
    <div class="container">

        <div class="col-lg-6">

            <form action="{% url 'login' %}" method="post" id="contact-form">

                {% csrf_token %}
                <div class="row">

                    {% for field in form %}
                    <div class="col-lg-12">
                        <fieldset>
                            <label for="{{field.id_for_label}}">{{field.label}}</label>
                            {{field}}
                        </fieldset>
                    </div>
                    {% endfor %}


                    <button type="submit">Login</button>
                </div>

            </form>
        </div>
    </div>
</div>


{% endblock %}