{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <span class="breadcrumb"><a href="#">Home</a> / Register</span>
          <h3>Ro'yxatdan O'tish</h3>
        </div>
      </div>
    </div>
  </div>



<div class="contact-page section">
    <div class="container">

        <div class="col-lg-6">

            <form action="{% url 'register' %}" method="post" id="contact-form">

                {% if messages %}

                    {% for message in messages %}

                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>

                        {% else %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {{ message }}
                        </div>
                        {% endif %}

                    {% endfor %}

                {% endif %}



                {% csrf_token %}
                <div class="row">

                    {% for field in form %}
                    <div class="col-lg-12">
                        <fieldset>
                            <label for="{{field.id_for_label}}">{{field.label}}</label>
                            {{field}}
                        </fieldset>
                    </div>
                    {% endfor %}


                    <button type="submit">Ro'yxatdan O'tish</button>
                </div>

            </form>
        </div>
    </div>
</div>


{% endblock %}